* {
    font-family: 'IBM Plex Mono', monospace;
    background: black;
    color: white;
}

body {
    margin: 16px 0px 0px 16px;
}

td {
    padding-right: 24px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

p {
    margin-bottom: 2px;
}

.bold {
    font-weight: 700;
}

.separator {
    margin: 10px 0px;
}

.articlelink {
    margin-bottom: 5px;
}