<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>PiInfo</title>

		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">
	</head>

	<body>
		{% if weather_success %}
		<div><span class="bold">Location: </span>{{ weather_success.location }}</div>
		<div><span class="bold">Time & Date: </span></td>{{ weather_success.time }}, {{ weather_success.date }}</div>
		<div><span class="bold">Temperature: </span>{{ weather_success.temp }} F</div> 
		<div><span class="bold">Cloud Cover: </span>{{ weather_success.cloudcover }}%</div>
		<div><span class="bold">Conditions: </span>{{ weather_success.conditions }}</div>
		<div><span class="bold">Humidity: </span>{{ weather_success.humidity }}%</div>
		<div><span class="bold">Wind Speed: </span>{{ weather_success.windspeed }} MPH</div>
		{% endif %}

		<div class="separator">---</div>

		{% if weather_error %}
		<p>{{ weather_error }}</p>
		{% endif %}

		{% if news_articles %}
		<ul>
			{% for i in range(5) %}
			<li class="articlelink">{{ news_articles[i] }} (<a href="{{ news_urls[i] }}" target=_blank>link</a>)</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if news_error %}
		<p>{{ news_error }}</p>
		{% endif %}

	</body>
</html>